<h1>Listing programas</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Categoria</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @programas.each do |programa| %>
  <tr>
    <td><%= programa.title %></td>
    <td><%= programa.categoria %></td>
    <td><%= link_to 'Show', programa %></td>
    <td><%= link_to 'Edit', edit_programa_path(programa) %></td>
    <td><%= link_to 'Destroy', programa, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Programa', new_programa_path %>
