<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @programa.title %>
</p>

<p>
  <b>Categoria:</b>
  <%= @programa.categoria %>
</p>

<p>
  <b>Categoria2:</b>
  <%= @programa.categoria2 %>
</p>



<%= link_to 'Edit', edit_programa_path(@programa) %> |
<%= link_to 'Back', programas_path %>
